{
	"users": [
		{
			"username": "user",
			"password": "password"
		},
		{
			"username": "user2",
			"password": "password2"
		}
	],
	"repositoriesPath": "path/to/folder",
	"excludedFolders" : [
		"test3"
	]
}
